:root {
  --dark: #282625;
  --dark2: #282625a2;
  --light: #f7f1f0;
  --primary: #ff5722;
}

body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  background-color: var(--light);
  overflow-y: auto;
  font-family: 'Maven Pro', sans-serif;
}
.darkBg{
  background-color: var(--dark);
  color: white;
}
.darkBgOpacity{
  background-color: var(--dark2);
  color: white;
}
.primaryBg{
  background-color: var(--primary);
  color: white;
  letter-spacing: 1px;
}
.primaryColor{
  color: var(--primary);
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: var(--primary); 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
}

